# Игнорировать папку виртуального окружения Python
.venv/
env/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорировать файлы с логинами и переменными окружения
.env

# Игнорировать системные файлы (macOS)
.DS_Store

# Игнорировать служебную папку VS Code (полностью)
.vscode/